$class: 'about-card';

.#{$class} {
  // Create a rounded border
  // border-radius: 1rem;
  // od a dark colour
  // border: 0.1rem solid $color-fiord;
  // and create some white space at the bottom
  margin-bottom: 1rem;

  background-color: $color-white;

  // select all the resume-icons span elements
  span[class*=resume-icon] {
    // and double the font size of the icon
    font-size: 2.5rem;
    color: $color-white;
  }
}

// about-card-item is the element in each of the
// award list
.#{$class}-item {
  // set width to 85% to play with the amount of text
  // that gets to be on each line
  width: 85%;
  // and position it to center
  margin: 0 auto;
}

.#{$class}-title {
  font-weight: bold;
}

.#{$class}-icon {
  // and allow some whitespace in each about-card child
  padding: 1.5rem;
}

.#{$class}-description {
  font-style: italic;
}

.#{$class}-title,
.#{$class}-description,
.#{$class}-location,
.#{$class}-date {
  // match the style of the parent element
  border-bottom: 0.1rem solid $color-fiord;
  // and set the text to be centered
  text-align: center;
  // and set the font size as the one of the paragraph
  font-size: 1.2rem;
  // and the line height size as the one of the paragraph
  line-height: 1.5rem;
  // and be smart about positioning the children
  display: flex;
  // and set the to be vertically centered
  align-items: center;
  // and set a min height
  min-height: 2rem;

  // remove the border of the last element
  &:last-child {
    border-bottom: none;
  }

  &:nth-child(1) > .about-card-icon {
    background-color: $color-fiord;
  }
  &:nth-child(2) > .about-card-icon {
    background-color: $color-lily;
  }

  &:nth-child(3) > .about-card-icon {
    background-color: $color-periwinkle-gray;
  }

  &:nth-child(4) > .about-card-icon {
    background-color: $color-manatee;
  }
}
