$class: 'about';

.#{$class} {
  // Set some whitespace between content and edges
  // @extend %section-container;
  background-image: radial-gradient(ellipse, $color-geraldine, $color-terracotta);
}

%avatar-common {
  // Make the shape of the element a circle
  border-radius: 50%;

  // Use block for margin: auto and better positioning
  display: block;
}

.#{$class}-section-title {
  @extend %section-title;

  color: $color-white;
  padding: 1rem 2rem;
}

.#{$class}-link {
  border: 0.1rem solid $color-lily;
  color: $color-gumbo;
  background-color: $color-white;
  padding: 1rem;
  width: 80%;
  margin: 1rem auto;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  border-radius: 0.3rem;
  text-decoration: none;
}

.#{$class}-link-list {
  text-align: center;
}

.#{$class}-link-description {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
}

.#{$class}-avatar {
  // apply circle shape and display block
  @extend %avatar-common;

  // Stretch as much as the parent container
  // and use width instead of max-width
  width: 100%;
  // set the border to white so it blends with the background
  border: 0.5rem solid $color-terracotta;
}

.#{$class}-avatar-wrapper {
  // apply circle shape and display block
  @extend %avatar-common;

  // set the max width to 50%
  max-width: 50%;
  // and combine it with margin auto to position
  // it to center (like text-align: center)
  margin: 1rem auto;
  // and set the color to contrast with the background
  border: 0.5rem solid transparentize($color-white, 0.7);
  position: relative;

  &:after {
    position: absolute;
    content: '';
    left: -1rem;
    top: -1rem;
    bottom: -1rem;
    right: -1rem;
    // width: 100%;
    // height: 100%;
    border-radius: 50%;
    border: 0.5rem solid $color-terracotta;
  }

  &:after {
    position: absolute;
    content: '';
    left: -1.5rem;
    top: -1.5rem;
    bottom: -1.5rem;
    right: -1.5rem;
    // width: 100%;
    // height: 100%;
    border-radius: 50%;
    border: 0.5rem solid transparentize($color-white, 0.7);
  }
}

.#{$class}-title {
  // Set the colour to contrast the background
  color: $color-gumbo;
  // and a slightly bigger font size value
  font-size: 2.5rem;
  // and align it to center
  text-align: center;
  // and increase the white space on top and bottom
  padding: 2rem 0 1rem;
  color: $color-white;
}

.#{$class}-paragraph {
  // set the font size to be easy to read
  font-size: 1.2rem;
  // and increase the spacing between two lines
  line-height: 1.7;
  // and set the text to be displayed from the left margin
  // all the way to the right margin
  text-align: justify;
  // and increase the top and bottom white space
  padding: 0.7rem 2rem;
  // and indent the first line
  text-indent: 2rem;
}
