each card in content.card
  .about-card
    h3.about-card-title #{card.title} !!!
    p.about-card-description #{card.description}
    p.about-card-location #{card.location}
    p.about-card-date #{card.date}
