each card in content.card
  //- about card list
  .about-card
    //- about card list item
    h3.about-card-title
      //- set the icon symbol for title
      span.about-card-icon
        span.resume-icon-trophy
      //- print item content
      span.about-card-item #{card.title}
    //- about card list item
    p.about-card-description
      //- set the icon symbol for description
      span.about-card-icon
        span.resume-icon-info
      //- print item content
      span.about-card-item #{card.description}
    //- about card list item
    p.about-card-location
      //- set the icon symbol for location
      span.about-card-icon
        span.resume-icon-map2
      //- print item content
      span.about-card-item #{card.location}
    //- about card list item
    p.about-card-date
      //- set the icon symbol for date
      span.about-card-icon
        span.resume-icon-calendar
      //- print item content
      span.about-card-item #{card.date}
