// the color config file should contain only color
// variables named based on http://chir.ag/projects/name-that-color/
// and the corresponding hex value
// https://www.design-seeds.com/category/in-nature/heavens/
$color-fiord: #415A67;
$color-manatee: #8A8FA2;
$color-lily: #D1ADC2;
$color-gumbo: #7EA1A6;
$color-periwinkle-gray: #B2C7E2;
$color-almond: #EDCFC7;
$color-white: #fff;
$color-terracotta: #e97568;
$color-geraldine: #fb9e91;
