// the color config file should contain only color
// variables named based on http://chir.ag/projects/name-that-color/
// and the corresponding hex value
// https://www.design-seeds.com/category/in-nature/heavens/
$color-fiord: #415a67;
$color-manatee: #8a8fa2;
$color-lily: #d1adc2;
$color-gumbo: #7ea1a6;
$color-periwinkle-gray: #b2c7e2;
$color-almond: #edcfc7;
$color-white: #fff;
$color-terracotta: #e97568;
$color-geraldine: #fb9e91;
$color-pelorous: #42bcbd;
$color-charm: #d76d93;
$color-affair: #7e4b83;
$color-confetti: #eacb5f;
