// The colour name can be found at
// http://chir.ag/projects/name-that-color/
$color-fiord: #415A67;
$color-manatee: #8A8FA2;
$color-lily: #D1ADC2;
$color-gumbo: #7EA1A6;
$color-periwinkle-gray: #B2C7E2;
$color-almond: #EDCFC7;
