// make use of the custom font 'my-resume'
@font-face {
  font-family: 'my-resume';
  src:
    url('fonts/my-resume.ttf?mndm3t') format('truetype'),
    url('fonts/my-resume.woff?mndm3t') format('woff'),
    url('fonts/my-resume.svg?mndm3t#my-resume') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="resume-icon-"], [class*=" resume-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'my-resume' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.resume-icon-google-plus2:before {
  content: "\ea8c";
}
.resume-icon-facebook2:before {
  content: "\ea91";
}
.resume-icon-twitter:before {
  content: "\ea96";
}
.resume-icon-youtube:before {
  content: "\ea9d";
}
.resume-icon-github:before {
  content: "\eab0";
}
.resume-icon-skype:before {
  content: "\eac5";
}
.resume-icon-linkedin:before {
  content: "\eac9";
}
.resume-icon-html-five:before {
  content: "\eae4";
}
