// make use of the custom font 'my-resume'
@font-face {
  font-family: 'my-resume';
  src:
    url('asset/font/my-resume.ttf?mndm3t1') format('truetype'),
    url('asset/font/my-resume.woff?mndm3t1') format('woff'),
    url('asset/font/my-resume.svg?mndm3t1#my-resume') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Apply the next declaration to all tags which have a class
// that starts with resume-icon- or contains resume-icon-
[class^="resume-icon-"], [class*=" resume-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'my-resume' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// List of font icons
.resume-icon-home:before {
  content: "\e900";
}

.resume-icon-map2:before {
  content: "\e94c";
}
.resume-icon-calendar:before {
  content: "\e953";
}
.resume-icon-hammer:before {
  content: "\e996";
}
.resume-icon-trophy:before {
  content: "\e99e";
}
.resume-icon-briefcase:before {
  content: "\e9ae";
}
.resume-icon-airplane:before {
  content: "\e9af";
}
.resume-icon-menu3:before {
  content: "\e9bf";
}
.resume-icon-earth:before {
  content: "\e9ca";
}
.resume-icon-wondering:before {
  content: "\e9fb";
}
.resume-icon-info:before {
  content: "\ea0c";
}
.resume-icon-google-plus2:before {
  content: "\ea8c";
}
.resume-icon-facebook2:before {
  content: "\ea91";
}
.resume-icon-twitter:before {
  content: "\ea96";
}
.resume-icon-youtube:before {
  content: "\ea9d";
}
.resume-icon-github:before {
  content: "\eab0";
}
.resume-icon-skype:before {
  content: "\eac5";
}
.resume-icon-linkedin:before {
  content: "\eac9";
}
.resume-icon-html-five:before {
  content: "\eae4";
}
