.menu
  .menu-call
    a.menu-link(href=`#${section.menu.action.url}`)
      span.resume-icon-menu3
  ul.menu-list
    each menuItem in section.menu.list
      li.menu-list-item
        a.menu-list-link(href=`#${menuItem.url}`)
          span(class=menuItem.icon)
          span #{menuItem.label}
#menu
