@import 'reset';

* {
  // set the border size to box
  box-sizing: border-box;
}

body {
  // Set the open sans font for all elements
  font-family: 'Open Sans';
}
// use fluid typography
html {
  font-size: calc( 12px + (24 - 12) * ( (100vw - 400px) / ( 800 - 400) ));
}

html, body {
  // To set the height of a future element in percentage
  // like 100%, all parent elements must have a height defined.
  height: 100%;
}

%section {
  min-height: 100vh;
}

%section-title {
  @extend %noselect;

  color: $color-periwinkle-gray;
  font-size: 4rem;
  margin-bottom: 1rem;
}

%section-container {
  // Set some whitespace between content and edges
  padding: 5vw;
}
