//- Extend index.pug with the main layout
extends _layout/main

block content
  //- assign site.data.resume value to a more simple
  //- variable called "resume" that will be available
  //- throughout this block named content
  - var resume = site.data.resume.section.home;

  include _component/home/home
