// Introduce $class variable to hold the value
// of the prefix of all css classes in this file
$class: 'home';

.#{$class} {
  @extend %section;
  display: flex;
  justify-content: center;
  align-items: center;
}
