// Introduce $class variable to hold the value
// of the prefix of all css classes in this file
$class: 'home';

%uppercase {
  // Transform all characters to upper case
  text-transform: uppercase;
}

.#{$class} {
  @extend %section;
  display: flex;
  justify-content: center;
  align-items: center;
}

.#{$class}-wrapper {
  text-align: center;
}

.#{$class}-name {
  @extend %uppercase;
  font-size: 5rem;
}

.#{$class}-title {
  @extend %uppercase;
  font-size: 2rem;
}
