.home
  //- we want home wrapper to be positioned
  //- in the center vertically and horizontally
  .home-wrapper
    h1.home-name #{section.home.author.name}
    h2.home-title #{section.home.author.title}
    ul.home-social
      //- using each social in section.home.author.social means
      //- that we'll iterate (go through one by one) over
      //- section.home.author.social collection and the "social"
      //- variable present after the word "each" will take
      //- as value each of the entities present in the collection
      each social, key in section.home.author.social
        //- The block composed of li, a and span tag will be
        //- repeated as many times as the resume.author.collection
        //- length is, making code easier to mantain and less debugging
        li.home-item
          label.home-link(for='message-box-id-'+key)
            span(class='resume-icon-'+ social.icon)

    //- We've also created a subcomponent of home compoenent,
    //- since we want to avoid creating too long files and
    //- increase efficiency in building and maintaining a project.
    include home-message-box
