// Introduce $class variable to hold the value
// of the prefix of all css classes in this file
// Examples:
// .#{$class} -> .home
// .#{$class}-item -> .home-item
$class: 'home';

// Starting with a percentage sign % instead of . or #
// will not output this to CSS. The advantage is that
// we can call this piece of code using @extend and
// keep our code DRY (don't repeat yourself)
%uppercase {
  // Transform all characters to upper case
  // Ex. This is Ultra -> THIS IS ULTRA
  text-transform: uppercase;
}

.#{$class} {
  @extend %section;
  display: flex;
  justify-content: center;
  align-items: center;
}

.#{$class}-wrapper {
  text-align: center;
}

.#{$class}-name {
  @extend %uppercase;
  font-size: 5rem;
}

.#{$class}-item {
  // we create some spacing between list items using padding
  // the first value will apply to padding-top and padding-bottom
  // the second value will appply to padding-right and padding-left
  padding: 0.5rem 0.8rem;
}

.#{$class}-link {
  font-size: 3rem;
  // Remove the default underline present in anchor tags
  text-decoration: none;
}

.#{$class}-social {
  // the ul tag has 100% width. we use display inline-flex
  // so the container no longer breaks on new line
  display: inline-flex;

  // we use max-width 80 viewport width which means
  // 80% if the width that we can view on the screen
  max-width: 80vw;

  // if the total width of the children exeeds the available
  // width provider by this container break the rest of the
  // content on new line
  flex-wrap: wrap;

  // set the items that break on new lines to be align center
  // it's very similar to text-align: center
  justify-content: center;
}

.#{$class}-title {
  @extend %uppercase;
  font-size: 2rem;
}
