// Introduce $class variable to hold the value
// of the prefix of all css classes in this file
$class: 'home';

%uppercase {
  // Transform all characters to upper case
  text-transform: uppercase;
}

.#{$class} {
  @extend %section;
  display: flex;
  justify-content: center;
  align-items: center;
}

.#{$class}-wrapper {
  text-align: center;
}

.#{$class}-name {
  @extend %uppercase;
  font-size: 5rem;
}

.#{$class}-item {
  padding: 0.5rem 0.8rem;
}

.#{$class}-link {
  font-size: 3rem;
  text-decoration: none;
}

.#{$class}-social {
  display: inline-flex;
  max-width: 80vw;
  flex-wrap: wrap;
}

.#{$class}-title {
  @extend %uppercase;
  font-size: 2rem;
}
