$class: 'note';

.#{$class}-label {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: $color-fiord;
  color: $color-white;
  border: 0.1rem solid $color-white;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.#{$class}-label-no,
.#{$class}-label-yes {
  cursor: pointer;
}

.#{$class}-label-no {
  display: inherit;
}

.#{$class}-label-yes {
  display: none;
}

.#{$class}-toggle-checkbox {
  display: none;
}

.#{$class}-toggle-checkbox:checked + .#{$class} {
  top: -100%;
}

.#{$class}-toggle-checkbox:checked + .#{$class} + .#{$class}-label {
  .#{$class}-label-no {
    display: none;
  }
  .#{$class}-label-yes {
    display: inherit;
  }
}


.#{$class} {
  @extend %section;

  top: -100%;
  position: fixed;
  transition: 0.5s;
}

.#{$class}-intro {
  font-size: 1.3rem;
}

.#{$class}-header {
  font-size: 1.8rem;
  line-height: 2.5;
}

.#{$class}-list {
  list-style-type: disc;
}

@media all and (orientation: landscape) {
  .#{$class}-label {
    display: inherit;
  }

  .#{$class} {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: radial-gradient(ellipse, $color-manatee, $color-fiord);
    color: $color-white;
  }
}
